data*
src/ki*
src/ki/drache*
src/ki/logs*
src/ai_chatbot/logs*
src/data*

docker-compose.yml
docker-compose.yml.save

__pycache__/
*.py[cod]
*.pyd

.env
.env.*
*.pem
*.key
*.pfx
*.p12
*.crt
*.cer
secrets/
secrets/**
venv/
.venv/
env/

*.log
*.sqlite
*.sqlite3
*.db

Thumbs.db
Desktop.ini
.DS_Store

.*/
.*
!.gitignore
!.github/
!.github/**
done.txt
src/ki/drache copy.json
src/ki/drache_bio.json
src/ki/drache_knowledge.json
src/ki/drache_lore.json
src/ki/drache_phrases_2024.json
src/ki/drache_style.json
src/ki/drache_system_prompt.json
src/ki/drache_zitate_2024.json
src/ki/drache.json
requirements-migration.txt
run_migration.bat
verify_migration.py
data/drachigotchis.json
data/stats.json
MIGRATION_README.md
migrate_to_mongodb.py
docker-compose.yml
src/fckr.py
